*{
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
    font-family: sans-serif;
}

.container{
    margin-top: 10px;
    display: flex;
}
.link{
    text-decoration: none;
    color: inherit;
}